@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');



body {
    font-family: 'Space Mono', monospace;
    background-color: hsl(185, 41%, 84%);
    text-align: center;

}

header{
    color: hsl(183, 100%, 15%);
    font-weight: 700;
    margin: 60px auto;
}

.container {
    background-color: hsl(0, 0%, 100%);
    width: 65%;
    margin: 0 auto;
    border-radius: 15px;
    padding: 25px;
    display: flex;

}

.content {
    width: 50%;
    text-align: left;
    font-weight: bold;
    color: hsl(186, 14%, 43%);
}

.results {
    background-color: hsl(183, 100%, 15%);
    padding: 25px;
    width: 50%;
    text-align: justify;
}

label{
    display: inline-block;
    margin-top: 20px;
    margin-block-end: 0.5em;
}

label:nth-child(1){
    margin-top: 0px;
}

.input-div {
    background-color: hsl(189, 41%, 97%);
    width: 90%;
    border-radius: 5px;
    margin-top: 0px;
}

/* Hiding arrows from number inputs */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

input{
    background-color: hsl(189, 41%, 97%);
    font-family: 'Space Mono', monospace;
    color: hsl(184, 14%, 56%);
    font-size: 24px;
    text-align: right;
    border: none;
}

.input-icon {
    padding-left: 15px;
}

.percentage-btn, .custom-tip, .reset-btn{
    font-family: 'Space Mono', monospace;
    font-size: 16px;
    padding: 10px;
    text-align: center;
    
}

.percentage-btn, .custom-tip {
    width: 28%;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
}

.percentage-btn {
    background-color: hsl(183, 100%, 15%);
    color: hsl(0, 0%, 100%);
}

.custom-tip {
    width: 23%;
    color: hsl(186, 14%, 43%);
    font-weight: bold;
    background-color: hsl(189, 41%, 97%);
}

.percentage-btn:hover, .percentage-btn:focus{
    background-color: hsl(172, 67%, 45%);
    color:hsl(183, 100%, 15%);
}

.results {
    border-radius: 10px;
}

.results-tip, .results-total {
    display: flex;
    justify-content: space-between;
    height: 80px;
}

.results-label{
    color:hsl(0, 0%, 100%);
    margin-block-end: 0em;
} 

.tip-result, .total-result {
    font-weight: bold;
    color: hsl(172, 67%, 45%);
}

.results .per-person {
    font-size: 12px;
    color:hsl(186, 14%, 43%);
    margin-block-start: 0em;
}

.reset-btn {
    width: 100%;
    margin-top: 120px;
    background-color: hsl(183, 79%, 24%);
    border: none;
    border-radius: 5px;
    color: hsl(183, 100%, 15%);
    font-weight: bold;
}

.reset-btn:active {
    background-color:  hsl(172, 67%, 45%);
}

.reset-btn:active:hover {
    background-color: #9FE8DF;
}

.attribution {
    color:hsl(186, 14%, 43%);
    font-size: 12px;
    margin-top: 5px;
}

.attribution a {
    text-decoration: none;
    color:hsl(186, 14%, 43%);
}

@media only screen and (max-width: 360px) {
    .container {
        display: block;
        padding: 20px
    }

    .content, .input-div, .content input, .results {
        width: 100%;
    }

    .content {
        margin-bottom: 50px;
    }

    .input-div {
        display: flex;
    }

    .input-icon {
        max-height: 20px;
        margin-top: 8px;
        padding-left: 10px;
    }

    .percentage-btn {
        width: 45%;
    }

    .buttons input {
        width: 36%;
    }
    
    .results {
        padding: 0px;
        text-align: center;
    }

    .results-tip, .results-total {
        padding: 15px;
    }

    .reset-btn {
        width: 90%;
        margin-top: 20px;
        margin-bottom: 10px;
    }
    
    .attribution {
        width: 70%;
        margin: 0 auto;
    }

    
    
}
